.venv/
.venv-cpu/
.pytest_cache/
.ruff_cache/
__pycache__/
*.py[cod]
*.pt
*.mp3
*.m4a
assets/ffmpeg/windows/ffmpeg.exe
assets/ffmpeg/linux/ffmpeg
build/
dist/
*.spec
*.exe
.idea/
.vscode/
.DS_Store
Thumbs.db
